streamlit
gspread
oauth2client
pandas==2.2.2
matplotlib
plotly
streamlit-cookies-manager
google-auth
google-auth-httplib2 
google-api-python-client
streamlit-authenticator
gcsfs
st-files-connection
st-gsheets-connection
numpy==1.26.2
streamlit_extras
streamlit-calendar
streamlit_javascript
pandasql
streamlit_carousel
kaleido